<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Data page</title>
</head>
<body>
    <h1><a href="/Data/">ServerSide JavaScript</a></h1>
    <ol>
        <% for (i=0; i < articles.length ; i++) { %>
            <li>
                <%= articles[i].title %>:<%= articles[i].body %>    
            </li>
            <% } %>
    </ol>
</body>
</html>